@use "../shared.scss";

#filters {
	margin-bottom: 6px;
	margin-left: calc(100px + 20px + 10px);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 6px;

	@include shared.responsive() {
		margin: 30px;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.reset {
	background-color: transparent;
	color: shared.$secondary-color;
	font-size: 11px;
	font-weight: 500;
	padding: 5px 10px;
	border-radius: 6px;
	border: 1px solid shared.$border-color;
	transition: all 0.15s ease;
	&.active {
		cursor: pointer;
		border-color: shared.$destructive-color;
		color: shared.$destructive-color;
		background-color: rgba(shared.$destructive-color, 0.05);
		&:hover {
			background-color: rgba(shared.$destructive-color, 0.1);
		}
	}
}
