@use "../../shared.scss";

.search_bar {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 16px 24px;
	background-color: shared.$card-background-color;
	border-bottom: 1px solid shared.$border-color;

	input {
		max-width: 500px;
	}

	@include shared.responsive() {
		padding: 12px;
		flex-wrap: wrap;
		input {
			max-width: none;
			width: 100%;
		}
	}

	@include shared.small-mobile() {
		padding: 10px 8px;
	}
}
